        //variables 
        @use "sass:color";
        @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
        $font-family-serif-lobster: "sans-serif",
        "Oswald",
        serif;
        $textoblanco:#ffffff;
        $textonegro: #000000;
        $colorCards:#10797f;
        $hoverMenuPie:#4d232d;
        @mixin titulo($tamano,
        $color) {
            font-size: $tamano;
            font-weight: bolder;
            color: $color;
            text-transform: capitalize;
        }
        
        @mixin texto( $color) {
            font-size: 1.2rem;
            color: $color
        }
        
        @mixin grid_x() {
            display: grid;
            row-gap: 20px;
            padding-right: 10%;
            padding-left: 10%;
        }