// Lista-variables;
$list-group-color: #10797f;
$list-group-bg: #e9f1f1;
$list-group-border-color: #10797f;
$list-group-border-width: 10px;
// card-variables;
$card-border-color: #10797f;
$card-cap-bg: rgba(#10797f, .03);
$card-cap-color:#10797f;
$card-bg: #e9f1f1;
// navbar-variables;
$navbar-nav-link-padding-x: 2.5rem;
$navbar-dark-brand-hover-color:#10797f; // themes-variables
$theme-colors: ( primary: #ff5126, "light": #e9f1f1, "dark": #000000);
@import "bootstrap/scss/bootstrap";
@import "layouts/variables";
@import "layouts/general";
@import "layouts/noticias";
@import "layouts/index";
@import "layouts/banda";